html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}
.top {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  height: 2.8rem;
  justify-content: flex-start;
  align-items: center;
}
.top1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10rem;
}
.logotext {
  display: flex;
  font-size: 1rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
}
.logo img {
  width: auto;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: cover;
  width: 100%;
  height: 25rem;
}
.headingbox {
  display: flex;
  background-color: black;
  height: 10rem;
  width: 25rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 9rem;
}
.headingbox1 {
  display: flex;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}
.headingbox2 {
  display: flex;
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: bold;
  width: 20rem;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  background-color: firebrick;
  width: 100%;
  height: 2.5rem;
}
span a {
  color: white;
  text-decoration: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-left: 3.25rem;
  margin-right: 3.25rem;

}
.catalog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  width: 960px;
}
.box1, .box2, .box3 {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  border: 4px solid black;
  width: 30%;
  height: 15rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.boxpic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  width: 9rem;
  height: 9rem;
}
.boxpic img {
  display: flex;
  align-self: center;
  width: 90%;
  height: auto;
}
.boxtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 3rem;
}
.boxtext p {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.last {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  margin-bottom: 4rem;
}
.boxlast {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.boxlast1 {
  display: flex;
  background-color: black;
  height: 3rem;
  justify-content: flex-start;
  align-items: center;
}
.boxlast2 {
  display: flex;
  color: black;
}
.boxlast1 p {
  margin-left: 1rem;
}
footer {
  display: flex;
  background-color: black;
  width: 100%;
  height: 5rem;
}
footer p {
  text-align: left;
  display: flex;
  margin-left: 10rem;
  margin-top: 3rem;
}
@media only screen and (max-width: 1024px) {
  .catalog {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 470px) {
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
    background-size: cover;
    width: 100%;
    height: 10rem;
  }
  .headingbox {
    display: flex;
    background-color: black;
    height: 5rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    margin-left: 0;
  }
  .headingbox1 {
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 0.25rem;
    font-size: 0.77rem;
    font-weight: bold;
  }
  .headingbox2 {
    display: flex;
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: bold;
  }
  .box1, .box2, .box3 {
    width: 90%;
  }
  .last {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .logotext {
    display: flex;
    font-size: 1rem;
  }
  .top1 {
    margin-left: 2rem;
  }
  .catalog {
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer {
    justify-content: center;
    align-items: center;
  }
  footer p {
    text-align: center;
    display: flex;
    margin-left: 0rem;
    margin-top: 0rem;
  }
}
